{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.back: Back to Mass.gov link used for pilot.
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.pre_content: Breadcrumbs, help, highlighted, title, and intro text.
 * - page.content: The main content of the current page.
 * - page.front: The dynamic content of the front page.
 * - page.postcontent: Breadcrumbs, other content.
 * - page.sidebar: Items for the sidebar.
 * - page.footer_info: Informational items for the footer region.
 * - page.footer_navigation: Navigation items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
  {{ attach_library('mayflower/pilot-css') }}
  <header role="banner" class="ma__header">
    <a class="ma__header__skip-nav" href="#main-content">skip navigation</a>
    {{ page.back }}
    {{ page.header }}
    <nav class="ma__header__nav">
      <div class="ma__header__button-container">
        <button class="ma__header__back-button js-close-sub-nav"><span>Back</span></button>
        <button class="ma__header__menu-button js-header-menu-button">
          <span>Menu</span><span class="ma__header__menu-icon"></span>
        </button>
      </div><!-- .ma__header__button-container -->
      <div class="ma__header__nav-container">
        {% include directory ~ "/templates/includes/csesearchform--mobile.html.twig" %}
        <div class="ma__header__main-nav">
          {{ page.primary_menu }}
        </div><!-- .ma__header__main-nav -->
        <div class="ma__header__utility-nav">
          {{ page.secondary_menu }}
        </div><!-- .ma__header__utility-nav -->
      </div><!-- .ma__header__nav-container -->
    </nav><!-- ma__header__nav -->
  </header>

  <div class="pre-content">
    {# {{ page.pre_content }} #}
    <!-- collage header -->
    <section class="ma__collage-header">
      <div class="ma__collage-header__container">
        <style>
          #GUID831741781374891 {
            background-image: url('/themes/custom/mayflower/pilot-home-images/tophero-250.png');
          }

          #GUID831741781374893 {
            background-image: url('/themes/custom/mayflower/pilot-home-images/topright-250.png');
          }

          #GUID831741781374892 {
            background-image: url('/themes/custom/mayflower/pilot-home-images/topleft-250.png');
          }

          @media (min-width: 700px) {
            #GUID831741781374891 {
              background-image: url('/themes/custom/mayflower/pilot-home-images/tophero.png');
            }
            #GUID831741781374892 {
              background-image: url('/themes/custom/mayflower/pilot-home-images/topleft.png');
            }
            #GUID831741781374893 {
              background-image: url('/themes/custom/mayflower/pilot-home-images/topright.png');
            }
          }
        </style>
        <div class="ma__collage-header__images">
          <div class="ma__collage-header__image" id="GUID831741781374891" title=""></div>
          <div class="ma__collage-header__image" id="GUID831741781374892" title=""></div>
          <div class="ma__collage-header__image" id="GUID831741781374893" title=""></div>
        </div>
        <div class="ma__collage-header__content">
          <div  class="ma__collage-header__title">
            <h1>Welcome to the Mass.gov Pilot</h1>
          </div>
          <div class="ma__collage-header__details">
            <h3>This is our testing ground for a new Mass.gov website. We have one goal: to make it easy for you find what you need. We’re going to try, test, and make changes until we get it right.</h3>
            <p>To make a website that’s useful for everyone, we need your help. So start exploring! Let us know what works and what doesn’t — and check back for updates. We’ll keep improving this site as we learn more about what you want and need.</p>

            <p>Thank you for helping us make a better and bolder Mass.gov.</p>
          </div>
        </div>
      </div>
    </section>
  </div><!-- .pre-content -->

  <div class="main-content{% if page.sidebar %} main-content--two{% endif %}" role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="page-content">
      {# {{ page.content }} #}
      <section class="ma__action-card">
        <h2 class="ma__action-card__title">Things to Do</h2>
        <div class="ma__action-card__description">
          <section class="ma__rich-text">
            <p>Here you&#039;ll find the pages we redesigned first</p>
          </section>
        </div>
        <div class="ma__action-card__items">
          <div class="ma__action-card__item js-clickable ma__action-card__item--green">
            <div class="ma__action-card__icon">
              <svg focusable="false" role="presentation" class="svg-pig-bank">
                <use xlink:href="/{{directory}}/images/svg-sprite.svg#pig-bank"></use>
              </svg>
            </div>
            <div class="ma__action-card__content">
              <span class="ma__action-card__category">Unemployment</span>
              <h3 class="ma__action-card__link">
                <a class="js-clickable-link" href="#" title="File for Unemployment">File for Unemployment&nbsp;<svg focusable="false" role="presentation" class="svg-arrow">
                  <use xlink:href="/{{directory}}/images/svg-sprite.svg#arrow"></use>
                </svg>
                </a>
              </h3>
            </div>
          </div>
          <div class="ma__action-card__item js-clickable ma__action-card__item--blue">
            <div class="ma__action-card__icon">
              <svg focusable="false" role="presentation" class="svg-apple">
                <use xlink:href="/{{directory}}/images/svg-sprite.svg#apple"></use>
              </svg>
            </div>
            <div class="ma__action-card__content">
              <span class="ma__action-card__category">Health &amp; Social Services</span>
              <h3 class="ma__action-card__link">
                <a class="js-clickable-link" href="#" title="Apply for MassHealth Coverage">Apply for MassHealth Coverage&nbsp;<svg focusable="false" role="presentation" class="svg-arrow">
                  <use xlink:href="/{{directory}}/images/svg-sprite.svg#arrow"></use>
                </svg>
                </a>
              </h3>
            </div>
          </div>
          <div class="ma__action-card__item js-clickable ">
            <div class="ma__action-card__icon">
              <svg focusable="false" role="presentation" class="svg-apple">
                <use xlink:href="/{{directory}}/images/svg-sprite.svg#apple"></use>
              </svg>
            </div>
            <div class="ma__action-card__content">
              <span class="ma__action-card__category">Health &amp; Social Services</span>
              <h3 class="ma__action-card__link">
                <a class="js-clickable-link" href="#" title="Apply for SNAP Benefits">Apply for SNAP Benefits&nbsp;<svg focusable="false" role="presentation" class="svg-arrow">
                  <use xlink:href="/{{directory}}/images/svg-sprite.svg#arrow"></use>
                </svg>
                </a>
              </h3>
            </div>
          </div>
          <div class="ma__action-card__item js-clickable ma__action-card__item--dark-gray">
            <div class="ma__action-card__icon">
              <svg focusable="false" role="presentation" class="svg-gavel">
                <use xlink:href="/{{directory}}/images/svg-sprite.svg#gavel"></use>
              </svg>
            </div>
            <div class="ma__action-card__content">
              <span class="ma__action-card__category">Legal &amp; Justice</span>
              <h3 class="ma__action-card__link">
                <a class="js-clickable-link" href="#" title="Respond to a Jury Duty Summons">Respond to a Jury Duty Summons&nbsp;<svg focusable="false" role="presentation" class="svg-arrow">
                  <use xlink:href="/{{directory}}/images/svg-sprite.svg#arrow"></use>
                </svg>
                </a>
              </h3>
            </div>
          </div>
          <div class="ma__action-card__item js-clickable ma__action-card__item--blue">
            <div class="ma__action-card__icon">
              <svg focusable="false" role="presentation" class="svg-campfire">
                <use xlink:href="/{{directory}}/images/svg-sprite.svg#campfire"></use>
              </svg>
            </div>
            <div class="ma__action-card__content">
              <span class="ma__action-card__category">State Parks &amp; Recreation</span>
              <h3 class="ma__action-card__link">
                <a class="js-clickable-link" href="#" title="Find a State Park">Find a State Park&nbsp;<svg focusable="false" role="presentation" class="svg-arrow">
                  <use xlink:href="/{{directory}}/images/svg-sprite.svg#arrow"></use>
                </svg>
                </a>
              </h3>
            </div>
          </div>
          <div class="ma__action-card__item js-clickable ma__action-card__item--green">
            <div class="ma__action-card__icon">
              <svg focusable="false" role="presentation" class="svg-certificate">
                <use xlink:href="/{{directory}}/images/svg-sprite.svg#certificate"></use>
              </svg>
            </div>
            <div class="ma__action-card__content">
              <span class="ma__action-card__category">Professional Licensing &amp; Certification</span>
              <h3 class="ma__action-card__link">
                <a class="js-clickable-link" href="#" title="Apply for a Nursing License">Apply for a Nursing License&nbsp;<svg focusable="false" role="presentation" class="svg-arrow">
                  <use xlink:href="/{{directory}}/images/svg-sprite.svg#arrow"></use>
                </svg>
                </a>
              </h3>
            </div>
          </div>
          <div class="ma__action-card__item js-clickable ma__action-card__item--dark-gray">
            <div class="ma__action-card__icon">
              <svg focusable="false" role="presentation" class="svg-family">
                <use xlink:href="/{{directory}}/images/svg-sprite.svg#family"></use>
              </svg>
            </div>
            <div class="ma__action-card__content">
              <span class="ma__action-card__category">Family &amp; Children</span>
              <h3 class="ma__action-card__link">
                <a class="js-clickable-link" href="#" title="Get a Child Support Order">Get a Child Support Order&nbsp;<svg focusable="false" role="presentation" class="svg-arrow">
                  <use xlink:href="/{{directory}}/images/svg-sprite.svg#arrow"></use>
                </svg>
                </a>
              </h3>
            </div>
          </div>
          <div class="ma__action-card__item js-clickable ">
            <div class="ma__action-card__icon">
              <svg focusable="false" role="presentation" class="svg-id-card">
                <use xlink:href="/{{directory}}/images/svg-sprite.svg#id-card"></use>
              </svg>
            </div>
            <div class="ma__action-card__content">
              <span class="ma__action-card__category">Recreational Licenses &amp; Permits</span>
              <h3 class="ma__action-card__link">
                <a class="js-clickable-link" href="#" title="Buy a Freshwater Fishing License">Buy a Freshwater Fishing License&nbsp;<svg focusable="false" role="presentation" class="svg-arrow">
                  <use xlink:href="/{{directory}}/images/svg-sprite.svg#arrow"></use>
                </svg>
                </a>
              </h3>
            </div>
          </div>
          <div class="ma__action-card__item js-clickable ma__action-card__item--green">
            <div class="ma__action-card__icon">
              <svg focusable="false" role="presentation" class="svg-bag-search">
                <use xlink:href="/{{directory}}/images/svg-sprite.svg#bag-search"></use>
              </svg>
            </div>
            <div class="ma__action-card__content">
              <span class="ma__action-card__category">Finding a Job</span>
              <h3 class="ma__action-card__link">
                <a class="js-clickable-link" href="#" title="Get a State Job">Get a State Job&nbsp;<svg focusable="false" role="presentation" class="svg-arrow">
                  <use xlink:href="/{{directory}}/images/svg-sprite.svg#arrow"></use>
                </svg>
                </a>
              </h3>
            </div>
          </div>
          <div class="ma__action-card__item js-clickable ma__action-card__item--blue">
            <div class="ma__action-card__icon">
              <svg focusable="false" role="presentation" class="svg-server-rack">
                <use xlink:href="/{{directory}}/images/svg-sprite.svg#server-rack"></use>
              </svg>
            </div>
            <div class="ma__action-card__content">
              <span class="ma__action-card__category">Business Services &amp; Resources</span>
              <h3 class="ma__action-card__link">
                <a class="js-clickable-link" href="#" title="Register Your Business">Register Your Business&nbsp;<svg focusable="false" role="presentation" class="svg-arrow">
                  <use xlink:href="/{{directory}}/images/svg-sprite.svg#arrow"></use>
                </svg>
                </a>
              </h3>
            </div>
          </div>
        </div>
      </section><!-- ma__action-card -->
      <section class="ma__personal-message">
        <div class="ma__personal-message__container">
          <div class="ma__personal-message__image">
            <img width="250" height="250" alt="Governor Baker" src="/{{directory}}/pilot-home-images/governor-baker.png" />
          </div>
          <div class="ma__personal-message__content">
            <h2 class="ma__personal-message__title">A Message from Governor Baker</h2>
            <section class="ma__rich-text"><p>"Information technology is an important priority for this administration and our ability to provide secure essential services and execute projects in an efficient and fiscally responsible manner is key to a better state government for Massachusetts. This is an important step that not only addresses some of the problems we have, but is an essential way forward to a better future."</p></section>
          </div>
        </div>
      </section><!-- ma__personal-message -->
      {{ page.front_latest }}
      {{ page.front_5050 }}

      <section class="ma__feedback-form" id="GUID8317417813234325">
        <style>
          /*#GUID8317417813234325 {
            background-image: url('/{{ directory }}/images/placeholder/800x400.png');
          }*/

          @media (min-width: 801px) {
            #GUID8317417813234325 {
              background-image: url('/{{ directory }}/images/placeholder/1600x600-lighthouse-blur.jpg');
            }
          }
        </style>
        <div class="ma__feedback-form__overlay">
          <div class="ma__feedback-form__container">
            <header class="ma__feedback-form__header">
              <h2 class="ma__feedback-form__title">Have Feedback for Us?</h2>
              <p class="ma__feedback-form__description">Mass.gov is for you, and we want to know what you think about it.</p>
            </header>
            <form action="#">
              <div class="ma__feedback-form__name">
                <label for="text-input">Your Name*</label>
                <input class="js-is-required" name="text-input" id="text-input" type="text" placeholder="" data-type="text" />        </div>
              <div class="ma__feedback-form__email">
                <label for="email-input">Your Email Address*</label>
                <input class="js-is-required" name="email-input" id="email-input" type="email" placeholder="" data-type="email" />        </div>
              <div class="ma__feedback-form__feeback">
                <label for="input-type-textarea">Feedback*</label>
                <textarea class="js-is-required" id="input-type-textarea" name="input-type-textarea" data-type="text"></textarea>        </div>
              <div class="ma__feedback-form__type">
                <section class="ma__select-box js-dropdown">
                  <label for="color-select" class="ma__select-box__label">Type of Feedback</label>
                  <div class="ma__select-box__field">
                    <select
                      name="color-select"
                      id="color-select"
                      class="ma__select-box__select js-dropdown-select">
                              <option value="design">Visual Feedback</option>
                              <option value="development">Functionality</option>
                              <option value="ux">Organization</option>
                          </select>
                    <div class="ma__select-box__link">
                      <span class="js-dropdown-link">Visual Feedback</span>
                      <span class="ma__select-box__icon"></span></div>
                  </div>
                </section>
              </div>
              <fieldset class="ma__feedback-form__permission">
                <legend>Are you interested in helping us test our designs for new sections of Mass.Gov? If so, we will contact you by email with more information.</legend>
                <span class="ma__input-radio">
                  <input name="permission" type="radio" value="Yes" id="permission-yes">
                  <label for="permission-yes"><span>Yes</span></label>
                </span>
                <span class="ma__input-radio">
                  <input name="permission" type="radio" value="No" id="permission-no">
                  <label for="permission-no"><span>No</span></label>
                </span>
              </fieldset>
              <div class="ma__feedback-form__controls">
                <button type="submit">Send</button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div><!-- .page-content -->

    {% if page.sidebar %}
      <div class="sidebar" role="complementary">
        {{ page.sidebar }}
      </div><!-- .sidebar -->
    {% endif %}

  </div><!-- .main-content -->

  <div class="post-content">
    {{ page.post_content }}
  </div><!-- .post-content -->

  <footer class="ma__footer" role="contentinfo">
    <button class="ma__footer__back2top js-back2top is-hidden">
      <svg focusable="false" role="presentation" class="svg-arrow">
        <use xlink:href="/{{ directory }}/images/svg-sprite.svg#arrow"></use>
      </svg>
      <span>Top</span>
    </button>
    <div class="ma__footer__container">
      {{ page.footer_navigation }}
      {{ page.footer_info }}
    </div><!-- .ma__footer__container -->
  </footer>
