{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */

{% if content %}
  <div{{ attributes }}>
    {{ content }}
  </div>
{% endif %}
#}

<section class="ma__utility-nav js-util-nav">
  <ul class="ma__utility-nav__items">
    <li class="ma__utility-nav__item js-util-nav-toggle">
      <a class="ma__utility-nav__link" href="#" title="Site Settings">
        <svg focusable="false" role="presentation" class="svg-settings">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/{{directory}}/images/svg-sprite.svg#settings"></use>
        </svg>
        <span>Site Settings</span>
      </a>
      <div aria-hidden="true" class="ma__utility-nav__content js-util-nav-content is-closed">
        <div class="ma__utility-nav__container">
          <div class="ma__utility-nav__content-title">
            <button class="ma__utility-nav__close js-close-util-nav"><span>Close</span><span role="presentation">+</span></button>
            <svg focusable="false" role="presentation" class="svg-settings">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/{{directory}}/images/svg-sprite.svg#settings"></use>
            </svg>
            <span>Site Settings</span>
          </div>
          <div class="ma__utility-nav__content-body">
            <form action="#" class="js-site-setting-form">
              <section class="ma__settings-util">
                <div class="ma__settings-util__zoom">
                  <section class="ma__zoom-controls js-zoom-controls">
                    <label class="ma__zoom-controls__normal">
                      <input type="radio" name="zoom" value="zoom-normal" checked="true">
                      <span>A</span>
                    </label>
                    <label class="ma__zoom-controls__medium">
                      <input type="radio" name="zoom" value="zoom-medium">
                      <span>A</span>
                    </label>
                    <label class="ma__zoom-controls__large">
                      <input type="radio" name="zoom" value="zoom-large">
                      <span>A</span>
                    </label>
                  </section>
                </div>
                <div class="ma__settings-util__dropdown-controls">
                  <div class="ma__settings-util__theme js-site-settings-theme">
                    <section class="ma__dropdown js-dropdown">
                      <label for="color-select" class="ma__dropdown__label">Color Scheme:</label>
                      <div class="ma__dropdown__field">
                        <select name="color-select" id="color-select" class="ma__dropdown__select js-dropdown-select">
                          <option value="">Default color scheme</option>
                          <option value="has-theme-black">White on Black scheme</option>
                          <option value="has-theme-white">Black on White scheme</option>
                        </select>
                        <span class="ma__dropdown__link js-dropdown-link">Default color scheme</span>
                      </div>
                    </section>
                  </div>
                  <div class="ma__settings-util__lang js-site-settings-lang">
                <!-- <section class="ma__dropdown js-dropdown">
                        <label
                          for="color-select"
                          class="ma__dropdown__label">Color Scheme:</label>
                        <div class="ma__dropdown__field">
                          <select
                            name="color-select"
                            id="color-select"
                            class="ma__dropdown__select js-dropdown-select">
                            <option value="">Default color scheme</option>
                            <option value="has-theme-black">White on Black scheme</option>
                            <option value="has-theme-white">Black on White scheme</option>
                          </select>
                          <span class="ma__dropdown__link js-dropdown-link">Default color scheme</span>
                        </div>
                      </section> -->
                    <section class="ma__dropdown js-dropdown">
                      <label for="lang-select" class="ma__dropdown__label">Language:</label>
                      <div class="ma__dropdown__field">
                        <select id="lang-select" name="lang-select" class="ma__dropdown__select js-dropdown-select">
                          <option value="en">Default language: English</option>
                          <option value="fr">Francis</option>
                          <option value="de">Deutch</option>
                          <option value="es">Espanol</option>
                        </select>
                        <span class="ma__dropdown__link js-dropdown-link">Default language: English</span>
                      </div>
                    </section>
                  </div>
                </div>
                <div class="ma__settings-util__buttons">
                  <button type="submit">submit</button>
                  <button class="js-button-reset" type="reset">
                    <span>Restore Defaults</span>
                    <svg focusable="false" role="presentation" class="svg-restore">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/{{directory}}/images/svg-sprite.svg#restore"></use>
                    </svg>
                  </button>
                </div>
              </section>
            </form>
          </div>
        </div>
      </div>
    </li>
    <li class="ma__utility-nav__item js-util-nav-toggle">
      <a class="ma__utility-nav__link" href="#" title="Alerts">
        <svg focusable="false" role="presentation" class="svg-alerts">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/{{directory}}/images/svg-sprite.svg#alerts"></use>
        </svg>
        <span>
          Alerts
        </span>
      </a>
      <div aria-hidden="true" class="ma__utility-nav__content js-util-nav-content is-closed">
        <div class="ma__utility-nav__container">
          <div class="ma__utility-nav__content-title">
            <button class="ma__utility-nav__close js-close-util-nav"><span>Close</span><span role="presentation">+</span></button>
            <svg focusable="false" role="presentation" class="svg-alerts">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/{{directory}}/images/svg-sprite.svg#alerts"></use>
            </svg>
            <span>Alerts</span>
          </div>
          <div class="ma__utility-nav__content-body">
            <section class="ma__alerts-util">
              <p class="ma__alerts-util__description">Download the Massachusetts Alerts app to receive emergency alerts and information regarding severe weather, amber alerts, and disaster relief</p>
              <ul class="ma__alerts-util__items">
                <li class="ma__alerts-util__item">
                  <a href="#">
                    <img src="/{{directory}}/images/app-store.png" alt="app store">
                  </a>
                </li>
                <li class="ma__alerts-util__item">
                  <a href="#">
                    <img src="/{{directory}}/images/google-play.png" alt="google play">
                  </a>
                </li>
              </ul>
            </section>
          </div>
        </div>
      </div>
    </li>
    <li class="ma__utility-nav__item js-util-nav-toggle">
      <a class="ma__utility-nav__link" href="#" title="State Services">
        <svg focusable="false" role="presentation" class="svg-building">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/{{directory}}/images/svg-sprite.svg#building"></use>
        </svg>
        <span>
          State Services
        </span>
      </a>
      <div aria-hidden="true" class="ma__utility-nav__content js-util-nav-content is-closed">
        <div class="ma__utility-nav__container">
          <div class="ma__utility-nav__content-title">
            <button class="ma__utility-nav__close js-close-util-nav"><span>Close</span><span role="presentation">+</span></button>
            <svg focusable="false" role="presentation" class="svg-building">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/{{directory}}/images/svg-sprite.svg#building"></use>
            </svg>
            <span>State Services</span>
          </div>
          <div class="ma__utility-nav__content-body">

          </div>
        </div>
      </div>
    </li>
    <li class="ma__utility-nav__item js-util-nav-toggle">
      <a class="ma__utility-nav__link" href="#" title="login to ...">
        <svg focusable="false" role="presentation" class="svg-login">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/{{directory}}/images/svg-sprite.svg#login"></use>
        </svg>
        <span>
          Login to ...
        </span>
      </a>
      <div aria-hidden="true" class="ma__utility-nav__content js-util-nav-content is-closed">
        <div class="ma__utility-nav__container">
          <div class="ma__utility-nav__content-title">
            <button class="ma__utility-nav__close js-close-util-nav"><span>Close</span><span role="presentation">+</span></button>
            <svg focusable="false" role="presentation" class="svg-login">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/{{directory}}/images/svg-sprite.svg#login"></use>
            </svg>
            <span>Login to...</span>
          </div>
          <div class="ma__utility-nav__content-body">
            <section class="ma__login-util">
              <p class="ma__login-util__description">These are the top requested sites you can login to access state provided services</p>
              <ul class="ma__login-util__items">
                <li class="ma__login-util__item">
                  <a href="#">
                    <span>Virtual Gateway</span>
                    <svg focusable="false" role="presentation">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/{{directory}}/images/svg-sprite.svg#external-link"></use>
                    </svg>
                  </a>
                </li>
                <li class="ma__login-util__item">
                  <a href="#">
                    <span>MA Health Connector</span>
                    <svg focusable="false" role="presentation">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/{{directory}}/images/svg-sprite.svg#external-link"></use>
                    </svg>
                  </a>
                </li>
                <li class="ma__login-util__item">
                  <a href="#">
                    <span>MassTax Connect</span>
                    <svg focusable="false" role="presentation">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/{{directory}}/images/svg-sprite.svg#external-link"></use>
                    </svg>
                  </a>
                </li>
              </ul>
              <div class="ma__login-util__view-all">
                <a href="#">View all logins</a>
              </div>
            </section>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
